spring:
  application: 
    name: workshop
  jpa:
    hibernate:
      ddl-auto: create-drop
      
ribbon:
  IsSecure: false

security:
  basic:
    enabled: false

management:
  security:
    enabled: false

---

spring:
  profiles: default
  jpa:
    database: HSQL
